<h1>Courses Groups</h1>
<button class ="button" onclick="window.location.href='/'">Home</button>
<button class ="button" onclick="window.location.href='/instructors'">Instructors</button>
<button class ="button" onclick="window.location.href='/courses'">Courses</button>
<%if Helpers.logged_in?(session)%>
<button class ="button" onclick="window.location.href='/course_groups/new' ">New Course Group</button>
<button class ="button" onclick="window.location.href='/instructors/<%=@instructor.slug%>'">Profile</button>
<button class ="button" onclick="window.location.href='/logout'">Log Out</button>
<%else%>
<button class ="button" onclick="window.location.href='/login'">Instructor Login</button>
<button class ="button" onclick="window.location.href='/signup'">Instructor Signup</button>
<%end%>
<div class="clear">
</div>
<table>
  <tr>
    <th colspan="4">List of course groups</th>

  </tr>
  <% @course_groups.each_with_index do |course_group,i| %>
    <tr>
      <td><%=i+1%></td>
      <td><a href="/course_groups/<%=course_group.slug%>"><%=course_group.name%></a></td>
      <td><%=course_group.courses.count%></td>
      <td><% if Helpers.logged_in?(session) && (@instructor_courses.include?(course_group) || course_group.creator_id ==@instructor.id) %><strong>&#9734</strong></td>
      <%end%>
    </tr>
    <%end%>
</table>
