<h1><%=@instructor.first_name%> <%=@instructor.last_name%> Profile</h1>
<button class ="button" onclick="window.location.href='/'">Home</button>
<button class ="button" onclick="window.location.href='/instructors'">Instructors</button>
<button class ="button" onclick="window.location.href='/courses'">Courses</button>
<button class ="button" onclick="window.location.href='/course_groups'">Course Groups</button>
<%if Helpers.logged_in?(session)%>
<button class ="button" onclick="window.location.href='/instructors/<%=@instructor.slug%>/edit'">Edit Profile</button>
<button class ="button" onclick="window.location.href='/logout'">Log Out</button>
<%else%>
<button class ="button" onclick="window.location.href='/login'">Instructor Login</button>
<button class ="button" onclick="window.location.href='/signup'">Instructor Signup</button>
<%end%>

<div class="clear">
</div>
<h2>Profile Overview</h2>
<table>
  <tr>
    <td>Username:</td>
    <td><%=@instructor.name%></td>
  </tr>
  <tr>
    <td>First Name:</td>
    <td><%=@instructor.first_name%></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%=@instructor.last_name%></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%=@instructor.email%></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%=@instructor.phone%></td>
  </tr>
</table>
<table width="100%">
  <tr>
    <td width="50%"><h2>Instructor Course Groups</h3></td>
    <td width="50%"><h2>Instructor Courses</h3></td>
  </tr>
  <tr>
    <td width="50%"><ul>
        <%@instructor.course_groups.uniq.each do |course_group|%>
        <li><a href="/course_groups/<%=course_group.slug%>"><%=course_group.name%></a>
          <% if course_group.creator_id == @instructor.id && Helpers.logged_in?(session)%> -
           <a href="/course_groups/<%=course_group.slug%>/edit">Edit</a>
           <%end%>
        </li>
        <%end%>
    </ul></td>
    <td width="50%">
      <%@instructor.courses.each do |course|%>
        <li><a href="/courses/<%=course.slug%>"><%=course.name%></a>
          <% if course.creator_id == @instructor.id && Helpers.logged_in?(session)%> -
           <a href="/courses/<%=course.slug%>/edit">Edit</a>
           <%end%>
         </li>

      <%end%>
    </td>
  </tr>
</table>
