<h1><%=@instructor.first_name%> <%=@instructor.last_name%> Profile</h1>
<button class ="button" onclick="window.location.href='/'">Home</button>
<button class ="button" onclick="window.location.href='/instructors'">Instructors</button>
<button class ="button" onclick="window.location.href='/courses'">Courses</button>
<button class ="button" onclick="window.location.href='/course_groups'">Course Groups</button>
<%if Helpers.logged_in?(session)%>
  <%if @instructor == Helpers.current_user(session)%>
    <button class ="button" onclick="window.location.href='/instructors/<%=@instructor.slug%>/edit'">Edit Profile</button>
    <form action="/instructors/<%=@instructor.slug%>/delete" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input class = "button" type="submit" value="Delete Instructor">
  </form>
  <%else%>
    <button class ="button" onclick="window.location.href='/instructors/<%=Helpers.current_user(session).slug%>'">Profile</button>
  <%end%>
<button class ="button" onclick="window.location.href='/logout'">Log Out</button>
<%else%>
<button class ="button" onclick="window.location.href='/login'">Instructor Login</button>
<button class ="button" onclick="window.location.href='/signup'">Instructor Signup</button>
<%end%>

<div class="clear">
</div>
<% if flash.has?(:message) %>
<h2>  <%= flash[:message]%></h2>
<% end %>
<h2>Profile Overview</h2>
<table>
  <tr>
    <td>Username:</td>
    <td><%=@instructor.name%></td>
  </tr>
  <tr>
    <td>First Name:</td>
    <td><%=@instructor.first_name%></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%=@instructor.last_name%></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%=@instructor.email%></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%=@instructor.phone%></td>
  </tr>
</table>
<table width="100%">
  <tr>
    <td width="50%"><h2>Instructor Course Groups</h3></td>
    <td width="50%"><h2>Instructor Courses
      <%if Helpers.logged_in?(session) && @instructor == Helpers.current_user(session)%>
        - <a href="/courses/new">Add new course</a>
        - <a href="/instructor/<%=@instructor.slug%>/delete_all_courses">Delete all</a>
        <%end%>
      </h3>
    </td>
  </tr>
  <tr>
    <td width="50%"><ul>
        <%@instructor.course_groups.uniq.each do |course_group|%>
        <li><a href="/course_groups/<%=course_group.slug%>"><%=course_group.name%></a>
          <% if Helpers.logged_in?(session) && course_group.creator_id == Helpers.current_user(session).id  && @instructor == Helpers.current_user(session)%> -
           <a href="/course_groups/<%=course_group.slug%>/edit">Edit</a>
           <%end%>
        </li>
        <%end%>
    </ul></td>
    <td width="50%">
      <%@instructor.courses.each do |course|%>
        <li><a href="/courses/<%=course.slug%>"><%=course.name%></a>
          <% if Helpers.logged_in?(session) && course.creator_id == Helpers.current_user(session).id && @instructor == Helpers.current_user(session)%> -
           <a href="/courses/<%=course.slug%>/edit">Edit</a>
           - <a href="/courses/<%=course.slug%>/delete">Delete</a>
           <%end%>
         </li>

      <%end%>
    </td>
  </tr>
</table>
