<h1>Courses</h1>
<button class ="button" onclick="window.location.href='/'">Home</button>
<button class ="button" onclick="window.location.href='/instructors'">Instructors</button>
<button class ="button" onclick="window.location.href='/course_groups'">Course Groups</button>
<%if Helpers.logged_in?(session)%>
<button class ="button" onclick="window.location.href='/courses/new' ">New Course</button>
<button class ="button" onclick="window.location.href='/instructors/<%=@instructor.slug%>'">Profile</button>
<button class ="button" onclick="window.location.href='/logout'">Log Out</button>
<%else%>
<button class ="button" onclick="window.location.href='/login'">Instructor Login</button>
<button class ="button" onclick="window.location.href='/signup'">Instructor Signup</button>
<%end%>
<div class="clear">
</div>
<table>
<tr>
  <th></th>
  <th width = "25%">Group</th>
  <th width = "50%">Course Name</th>
  <th></th>
</tr>
  <% @courses.each_with_index do |course,i| %>
    <tr>
      <td><%=i+1%></td>
      <td><a href="/course_groups/<%=course.course_group.slug%>"><%=course.course_group.name%></td>
      <td><a href="/courses/<%=course.slug%>"><%=course.name%></a></td>
      <td><% if Helpers.logged_in?(session) && @instructor_courses.include?(course)%><strong>&#9734</strong></td>
      <%end%>
    </tr>
    <%end%>
</table>
